__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git
.gitignore
*.Dockerfile
.dockerignore
README.md
example.env
docker-compose.*
volumes/