# settings for email notification, if one of them is empty, mail notification is disabled
NOTIFICATION_EMAIL_RECEIVER=yourreceiveradress@domain.com
NOTIFICATION_EMAIL_SENDER=yoursenderadress@domain.com
NOTIFICATION_EMAIL_USERNAME=your_username_maybe_the_same_as_sender_address
NOTIFICATION_EMAIL_PASSWORD=
NOTIFICATION_EMAIL_SMTP_SERVER=smtp.gmail.com
NOTIFICATION_EMAIL_SMTP_PORT=587

# settings for the database
POSTGRES_DB=db
POSTGRES_TEST_DB=db-test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_PORT_EXT=54321
POSTGRES_HOST=db
POSTGRES_HOST_EXT=localhost

# settings for adminer
ADMINER_PORT_EXT=8081

# settings to increase anonymity
# proxy, currently only usable with webshare proxy, empty means no proxy
WEBSHARE_PROXY_LIST_URL=
# user agent for the requests, empty enables fake useragent
USER_AGENT='gepris_crawler'
